    .nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #BF5B04;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%
}

.nav-li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}
    #avsnittTypeEn {
    background: white;
    border: 4px solid #A63F03;
    width: 70%;
    padding: 30px;
    margin: 30px auto;
    text-align: center;
}
